section{
    /* border: 2px solid red; */
    
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#ad-btn{
    text-decoration: none;
}

#ad-btn:hover{
    color: black;
}
#ds{
    /* border: 2px solid red; */
}
#un{
    /* border: 2px solid black; */
}
#gr{
    /* border: 2px solid green; */
}

#G{
    /* color: #f9f9f9; */
}
